<div class='row'>
  <div class="col-md-8 offset-md-2">
    <h1><%= @chat_room.topic %></h1>
    <div class="panel panel-default">
      <% if @chat_room.messages.any? %>
        <div class="panel-body" id="messages">
          <%= render partial: 'messages/message', collection: @chat_room.messages%>
        </div>
      <%else%>
        <div class="panel-body hidden" id="messages">
        </div>
      <%end%>
    </div>
    <%= render partial: 'messages/message_form', locals: {message: @message, chat_room: @chat_room}%>
  </div>
</div>

<script type='text/javascript'>
  /*$("#message_content").keypress(function (e) {
    if (e.which === 13) {
      e.preventDefault()
      $("#new_message").submit()
    }
  })*/
</script>
